<div class="container">
  <div class="row">
    <div clas="col-sm-6  offset-sm-3">
      <div class="panel panel-primary fond-ecran">
        <div class="align">Gestion des elèves</div>
        <div class="panel-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group marge">
              <label for="login">Login:</label>
              <input type="text" formControlName="login" placeholder="login" class="form-control">
              <div *ngIf="f.login.invalid && (f.login.dirty || f.login.touched)" class="alert alert-danger">
                <div *ngIf="f.login.errors.required">
                  login is required.
                </div>
              </div>
            </div>
            <div class="form-group marge">
              <label for="password">Password:</label>
              <input type="password" formControlName="password" placeholder="password" class="form-control" />
              <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
                <div *ngIf="f.password.errors.required">
                  password is required.
                </div>
              </div>
            </div>
            <div class="form-group marge">
              <div position>
                <button class="btn btn-danger bordure">Connexion</button>
                <button class="btn btn-success">creer un nouvel utilisateur</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>